# global owner
* @milanof-huma @rodelt-huma

# data-colleciton owners
/data-colleciton @domm-huma @meldee-huma

# trust-security owner
/trust-security @harrison-huma

# sdk owners
/sdk @jaygajjar-huma @fernandod-huma
/sdk_versioned_docs @jaygajjar-huma @fernandod-huma