# global owner
* @milanof-huma @rodelt-huma @igori-huma

# data-colleciton owners
/data-colleciton/** @farzin-huma @meldee-huma

# trust-security owner
/trust-security/** @harrison-huma

# sdk owners
/sdk @jaygajjar-huma
/sdk_versioned_docs/** @jaygajjar-huma
