/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
  font-family: "Victor Serif Smooth";
  src: url("/fonts/VictorSerifSmooth-Bold.woff2") format("woff2"),
    url("/fonts/VictorSerifSmooth-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Victor Serif Smooth";
  src: url("/fonts/VictorSerifSmooth-Regular.woff2") format("woff2"),
    url("/fonts/VictorSerifSmooth-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Victor Serif Smooth";
  src: url("/fonts/VictorSerifSmooth-Semibold.woff2") format("woff2"),
    url("/fonts/VictorSerifSmooth-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Medium.woff2') format('woff2'),
      url('/fonts/NotoSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-SemiBold.woff2') format('woff2'),
      url('/fonts/NotoSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Bold.woff2') format('woff2'),
      url('/fonts/NotoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Regular.woff2') format('woff2'),
      url('/fonts/NotoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Light.woff2') format('woff2'),
      url('/fonts/NotoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --ifm-color-primary: #6d43e8;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-color-text-light: #ffffff;
  --ifm-color-text: #424347;
  --ifm-color-cover: #fbfbfb;
  --ifm-color-dark: #ebebeb;
  --ifm-color-light: #ffffff;
  --ifm-color-g1: #FFF7EB;
  --ifm-color-g2: #F2EFFA;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Noto Sans";
  --ifm-font-family-secondary: "Victor Serif Smooth";
  --ifm-heading-font-weight: 400;
  --ifm-h1-font-size: 1.875rem;
  --ifm-h2-font-size: 1.675rem;
  --ifm-h3-font-size: 1.375rem;
  --ifm-h4-font-size: 1.125rem;
  --ifm-menu-link-sublist-icon: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' style='enable-background:new 0 0 30 30;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23424347;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpath class='st0' d='M10,17.5l5-5.3l5,5.3'/%3E%3C/svg%3E");
  --ifm-menu-color-background-activ: #ebebeb;
  --ifm-menu-link-padding-vertical: 1rem;
  --ifm-menu-link-padding-horizontal: 1.6rem;
  --ifm-menu-color: var(--ifm-color-text);
  --ifm-menu-color-active: var(--ifm-color-text);
  --ifm-navbar-search-input-icon: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='18px' height='18.5px' viewBox='0 0 18 18.5' style='enable-background:new 0 0 18 18.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23424347;%7D%0A%3C/style%3E%3Cpath class='st0' d='M17.8,16.2l-6.1-6.1c0.7-1,1.1-2.3,1.1-3.6C12.8,2.9,10,0,6.4,0C2.9,0,0,2.9,0,6.4s2.9,6.4,6.4,6.4 c1.8,0,3.5-0.8,4.6-2l5.9,5.9l-0.7,0.7l-3.9-3.9c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7l4.1,4.1c0.1,0.1,0.3,0.2,0.5,0.2 c0.2,0,0.4-0.1,0.5-0.2l1.1-1.1C18,17,18,16.9,18,16.7C18,16.5,18,16.3,17.8,16.2z M6.4,11.8c-3,0-5.4-2.4-5.4-5.4S3.4,1,6.4,1 s5.4,2.4,5.4,5.4S9.4,11.8,6.4,11.8z'/%3E%3C/svg%3E");
  --ifm-navbar-search-input-background-color: #ebebeb;
  --ifm-navbar-search-input-color: var(--ifm-color-text);
  --ifm-navbar-height: 67px;
  --ifm-navbar-padding-vertical: 0;
  --ifm-transition-timing: 300ms;
  --ifm-toc-border-color-active: #6A6D72;
  --ifm-btn-height: 40px;
  --ifm-container-width-page: 1068px;
  --ifm-navbar-logo-height: 34px;
  --ifm-navbar-padding-vertical-extra: 3rem;
  --ifm-navbar-padding-vertical-extra-mobile: 22px;
  --imf-container-padding: 40px;
}

html[data-theme="dark"] {
  --ifm-color-text: #fff;
  --ifm-menu-color: var(--ifm-color-text);
  --ifm-menu-color-active: var(--ifm-color-text);
  --ifm-color-light: #424347;
  --ifm-color-cover: rgba(255, 255, 255, 0.05);
  --ifm-color-dark: rgba(255, 255, 255, 0.1);
  --ifm-color-g1: rgba(255, 255, 255, 0.2);
  --ifm-color-g2: rgba(255, 255, 255, 0.05);
  --ifm-menu-color-background-activ: rgba(255, 255, 255, 0.1);
  --ifm-navbar-search-input-background-color: rgba(255, 255, 255, 0.1);
  --ifm-navbar-search-input-icon: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='18px' height='18.5px' viewBox='0 0 18 18.5' style='enable-background:new 0 0 18 18.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff;%7D%0A%3C/style%3E%3Cpath class='st0' d='M17.8,16.2l-6.1-6.1c0.7-1,1.1-2.3,1.1-3.6C12.8,2.9,10,0,6.4,0C2.9,0,0,2.9,0,6.4s2.9,6.4,6.4,6.4 c1.8,0,3.5-0.8,4.6-2l5.9,5.9l-0.7,0.7l-3.9-3.9c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7l4.1,4.1c0.1,0.1,0.3,0.2,0.5,0.2 c0.2,0,0.4-0.1,0.5-0.2l1.1-1.1C18,17,18,16.9,18,16.7C18,16.5,18,16.3,17.8,16.2z M6.4,11.8c-3,0-5.4-2.4-5.4-5.4S3.4,1,6.4,1 s5.4,2.4,5.4,5.4S9.4,11.8,6.4,11.8z'/%3E%3C/svg%3E");
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.menu__link {
  border-radius: 0;
  padding-right: 0.8rem;
}

.menu__link--sublist {
  margin-bottom: 0;
}

.menu__list-item:not(:first-child) {
  margin-top: 0;
}

.menu__link--active:not(.menu__link--sublist) {
  font-weight: 600;
}

.markdown h1:first-child {
  font-family: var(--ifm-font-family-secondary);
  font-size: 1.875rem;
}
.markdown > h2 {
  font-size: 1.5rem;
}
.markdown > h3 {
  font-size: 1.375rem;
}

.search-bar {
  border-radius: 0.875rem;
  height: 2.5rem;
  width: 600px;
  max-width: 100%;
  margin-left: 1rem;
}

.search-bar::placeholder {
  color: var(--ifm-navbar-search-input-color);
}

.dropdown > .navbar__link {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar__item.dropdown {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar__link--active[aria-current="page"],
.dropdown__link--active {
  font-weight: 600;
  background-color: var(--ifm-menu-color-background-activ);
}

.navbar__link:hover {
  color: var(--ifm-menu-color);
}
.navbar__link--active,
.dropdown__link--active,
.dropdown__link--active:hover {
  color: var(--ifm-menu-color);
}

.navbar__item.navbar__link {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar__item.navbar__link.navbar__link--active {
  background-color: transparent;
}

.navbar__item.navbar__link::after,
.navbar__items:not(.navbar__items--right) .navbar__item.dropdown::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--ifm-color-text);
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: center left;
  transform: scaleX(0);
  transition: transform 300ms ease;
}

.navbar__items:not(.navbar__items--right) .navbar__item.dropdown::after {
  width: calc(100% - 16px);
}

.navbar__item.navbar__link.navbar__link--active::after,
.navbar__items:not(.navbar__items--right) .navbar__item.dropdown.navbar__item--active::after{
  transform: scaleX(1);
}

.dropdown__link {
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 0;
}

.dropdown__menu {
  padding: 0;
}

.dropdown__menu li a {
  border-bottom: 1px solid var(--ifm-menu-color-background-activ);
}

.dropdown > .navbar__link:after {
  border: none;
  background-image: var(--ifm-menu-link-sublist-icon);
  background-size: contain;
  background-position: center center;
  width: 30px;
  height: 30px;
  top: 50%;
  right: 0;
  display: block;
  position: absolute;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  transform: translateY(-50%) rotate(180deg);
}

.navbar__logo {
  height: var(--ifm-navbar-logo-height);
  margin-right: 0;
}

.navbar__logo img {
  filter: var(--ifm-menu-link-sublist-icon-filter);
}

.dropdown--right .navbar__link {
  border: 1px solid var(--ifm-color-text);
  border-radius: 50px;
  height: 40px;
  padding: 0 1.2rem;
  padding-right: 2rem;
}

.navbar  {
  padding-left: var(--ifm-menu-link-padding-horizontal);
}

.dropdown--right .navbar__link::after {
  right: 1rem;
}

.navbar__item.dropdown.dropdown--right {
  margin-left: 0;
  margin-right: 0;
}

.table-of-contents {
  padding: 0;
}

.table-of-contents li {
  padding: 0;
  margin: 0;
}

.table-of-contents a{
  max-width: 260px;
  display: block;
  margin: 0;
  position: relative;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.table-of-contents a::after{
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--ifm-color-primary);
  position: absolute;
  top: 0;
  left: -2px;
  transform: scaleY(0);
  transform-origin: center top;
  transition: transform 300ms ease;
}

.table-of-contents .table-of-contents__link--active::after{
  transform: scaleY(1);
}

.table-of-contents__link--active {
  color: var(--ifm-color-primary);
  font-weight: 600;
}

.table-of-contents__link:hover {
  color: var(--ifm-color-primary);
}

.container.container--fluid, footer .container {
  max-width: var(--ifm-container-width-page);
}

.footer {
  background-color: transparent;
  border-top: 1px solid var(--ifm-color-dark);
  padding-top: 3rem;
}

.footer__title {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.footer__link-item {
  font-size: 0.875rem;
  color: var(--ifm-color-text);
  opacity: 0.5;
  transition: opacity 300ms ease;
}

.footer__item a svg {
  display: none;
}

.footer__link-item:hover {
  opacity: 1;
  color: var(--ifm-color-text);
  text-decoration: none;
}

.margin-vert--lg {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.navbar__search .search-bar:focus {
  outline: none;
}

.padding-top--large {
  padding-top: var(--imf-container-padding) !important;
} 

.padding-bottom--large {
  padding-bottom: var(--imf-container-padding) !important;
}

.padding-left--large {
  padding-left: var(--imf-container-padding) !important;
} 

.padding-right--large {
  padding-right: var(--imf-container-padding) !important;
}

.padding--large {
  padding: var(--imf-container-padding) !important;
}

@media (max-width: 997px) {
  .padding--large {
    padding: var(--ifm-spacing-horizontal) !important;
  }
  .api-info {
    padding: var(--ifm-spacing-horizontal) !important;
  }
  .navbar-sidebar__item.menu {
    padding-left: 0;
    padding-right: 0;
  }
  .menu__link {
    padding-left: var(--ifm-spacing-horizontal);
  }
  .navbar__item.dropdown {
    display: none;
  }
  .navbar__item.navbar__link {
    display: none;
  }
  .search-bar {
    width: 200px;
  }
  .navbar  {
    padding-left: var(--ifm-spacing-horizontal);
    padding-right: var(--ifm-spacing-horizontal);
  }
}
